<div class="col-sm-12">	
		<div class="row">
			<img class="aboutMissionImg" src="images/foto_mission.jpg" class="img-responsive" /> 
		</div>		
		
			<div class="missionVisionBox"> 
			    	<div class="bold_italic text-center"><%= __('vision') %></div>
			    	<div><%= __('vision_text') %></div>
			</div>
			<div class="missionVisionBox"> 
			    	<div class="bold_italic text-center"><%= __('mission') %></div>
			    	<div><%= __('mission_text') %></div>
			</div>
			<div class="missionVisionBox"> 
			    	<div class="bold_italic text-center"><%= __('values') %></div>
			    	<div><%= __('values_text') %></div>
			</div>
				
</div>

<br />

<script>

$(document).ready(function(){

});

</script>

