<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h3> <%= __('opportunities') %> </h3>
                    <ul>
                        <li> <a href="/listOpportunities"> <%= __('job_opportunities') %> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3> <%= __('contact') %> </h3>
                    <ul>
                        <li> <a href="/contactUs?requestFrom=jobSeeker"> <%= __('job_seekers') %> </a> </li>
                        <li> <a href="/contactUs?requestFrom=employer"> <%= __('employers') %> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3> WelTalent </h3>
                    <ul>
                        <li> <a href="/aboutUs"> <%= __('about_us') %> </a> </li>
                        <!--<li> <a href="/meetTeam"> <%= __('meet_team') %> </a> </li>-->
                        <li> <a href="/missionValues"> <%= __('mission_values') %> </a> </li>
                    </ul>
                </div> 
                <div class="col-lg-3">
                    <h3> <%= __('find_us') %>  </h3>
                    <ul class="social-network-icon">
                        <li> <a href="#" title="Linkedin"><i class="fa fa-linkedin-square icoLinkedin"></i> Linkedin/WelTalent</a></li>
                        <li> <a href="#" title="Facebook"><i class="fa fa-facebook-square icoFacebook"></i> Facebook/weltalent</a></li>
                    </ul>
                </div> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright &copy; WelTalent 2017. All rights reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>